.bloco{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 85px;
    color: #2E2E2E;
    font-size: 28px;
    font-weight: 600;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    transition: transform 1s ease, box-shadow 1s ease;
    cursor: pointer;
}


.bloco:hover{
    border: 1px solid #F3C873;
    background-color: #FDF8EE;
    transform: translateY(-10px);
    box-shadow: 0 8px 27px rgba(227, 225, 220, 0.42);
}

.blocoActive{
    border: 1px solid #F3C873;
    background-color: #FDF8EE;
    transform: translateY(-10px);
    box-shadow: 0 8px 27px rgba(227, 225, 220, 0.42);
}