.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(14px);

    overflow: hidden;

}

.SubContainer{
    width: 100%;
    max-width: 582px;
    background-color: #F6FAFF;
    border-radius: 20px;
    padding: 44px 44px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}


.Loader {
  width: 20vw;
  max-width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
}

.Loader::before,
.Loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-sizing: border-box;
}

.Loader::before {
  border: 5px solid rgba(255, 255, 255, 0.737);
}

.Loader::after {
  border: 5px solid transparent;
  border-top-color: #ffffff;
  border-right-color: #1d85df;
  animation: rotate 0.8s linear infinite;
}

/* ANIMAÇÃO */
@keyframes rotate {
  to { transform: rotate(360deg); }
}


.Quiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #2E2E2E;

}

.dificuldades{
    margin-top: 47px;
}

.dificuldades p{
    margin-bottom: 8px;
}

.Alternativas{
    margin-top: 32px;
}

.Alternativas p{
    margin-bottom: 8px;
}

.ContentHeader{
    text-align: center;
}

.ContainerBloco, .ContainerNumbers{
    display: flex;
    gap: 24px;
}