.respostaBloco{
    width: 100%;
    height: 125px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0a0a0a;
    border-radius: 20px;
    font-weight: 600;
    background-color: #FDFBF7;
    color: #2E2E2E;
    transition: transform 1s ease, box-shadow 1s ease;

}

.respostaBloco:hover{
    border: 1px solid #ffffff;
    color: #F3C873;
    background-color: #2E2E2E;
    transform: translateY(-20px) ;
    box-shadow: 0 8px 40px rgba(184, 179, 175, 0.54);
}

