@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Poppins", sans-serif;
}

h1{
    font-size: clamp(2.5rem, 3.75vw, 4.5rem ); 
}

h2{
  font-size: 4rem;
}

h3 {
  font-size: 2.625rem;
}

h4{
  font-size: clamp(.75rem, 1.771vw, 2.125rem);
}

h5{
  font-size: clamp(.5rem, 3.75vw, 1.5rem );
}

p{
  font-size: clamp(.5rem, 0.833vw, 1rem);
}

span {
  font-size: 1.5rem;
}