.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: 59px;
    background-color: #161512;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 20px;
    margin-top: 32px;
  overflow: hidden;
}

.btn h5 {
    margin: 0;
    padding: 0;
    transition: transform 1s ease;

}

.btn span {
    display: flex;
    align-items: center;
    transition: transform 3s ease;

}

.btn:hover h5 {
    transform: translateX(10px); 
}


.btn:hover span {
    transform: translateX(200px); 
}
